<!-- Scripts -->
<script src="<%= page.name !== 'home' ? site.basePath : '' %>assets/js/jquery.min.js"></script>
<script src="<%= page.name !== 'home' ? site.basePath : '' %>assets/js/jquery.scrollex.min.js"></script>
<script src="<%= page.name !== 'home' ? site.basePath : '' %>assets/js/jquery.scrolly.min.js"></script>
<script src="<%= page.name !== 'home' ? site.basePath : '' %>assets/js/skel.min.js"></script>
<script src="<%= page.name !== 'home' ? site.basePath : '' %>assets/js/util.js"></script>
<script src="<%= page.name !== 'home' ? site.basePath : '' %>assets/js/main.js"></script>
