<meta charset="UTF-8">
<title><%= page.title ? `${page.title} | ` : '' %><%= site.title %></title>
<meta name="description" content="<%= page.description || site.description %>"/>
<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
<link href='https://fonts.googleapis.com/css?family=Open+Sans:400,700' rel='stylesheet' type='text/css'>
<link rel="stylesheet" href="<%= page.name !== 'home' ? site.basePath : '' %>assets/css/main.css" />
<noscript><link rel="stylesheet" href="<%= page.name !== 'home' ? site.basePath : '' %>assets/css/noscript.css" /></noscript>
