<!-- Header -->
<header id="header">
    <a href="index.html" class="logo">Massively</a>
</header>
<!-- Nav -->
<nav id="nav">
    <ul class="links">
        <li <% if (page.name === 'home') { %>class="active" <% } %>>
          <a href="<%= page.name !== 'home' ? site.basePath : '' %>">This is Massively</a>
        </li>
        <li <% if (page.name === 'generic') { %>class="active" <% } %>>
          <a href="<%= page.name !== 'home' ? site.basePath : '' %>generic">Generic Page</a>
        </li>
        <li <% if (page.name === 'elements') { %>class="active" <% } %>>
         <a href="<%= page.name !== 'home' ? site.basePath : '' %>elements">Elements Reference</a>
        </li>
        <li <% if (page.name === 'post') { %>class="active" <% } %>>
          <a href="<%= page.name !== 'home' ? site.basePath : '' %>post">Markdown page</a>
        </li>
    </ul>
    <ul class="icons">
        <li><a href="#" class="icon fa-twitter"><span class="label">Twitter</span></a></li>
        <li><a href="#" class="icon fa-facebook"><span class="label">Facebook</span></a></li>
        <li><a href="#" class="icon fa-instagram"><span class="label">Instagram</span></a></li>
        <li><a href="#" class="icon fa-github"><span class="label">GitHub</span></a></li>
    </ul>
</nav>
