///
/// Massively by HTML5 UP
/// html5up.net | @ajlkn
/// Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
///

/* Wrapper */

#wrapper {
    @include vendor("transition", "opacity #{_duration(menu)} ease");

    @include orientation(portrait) {
        > .bg {
            background-size: auto,                    			auto,                    									auto 175%;
        }
    }

    position: relative;
    z-index: 1;

    overflow: hidden;

    > .bg {
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;

        width: 100%;
        height: 100%;

        background-color: _palette(wrapper-bg);
        background-image: url("../images/overlay.png"),    linear-gradient(0deg, rgba(0,0,0,.1), rgba(0,0,0,.1)),    url("../images/bg.jpg");
        background-repeat: repeat,                    			no-repeat,                    								no-repeat;
        background-attachment: scroll,                    			scroll,                    									scroll;
        background-position: center,                    			center,                    									top center;
        background-size: auto,                    			auto,                    									100% auto;

        &.fixed {
            position: fixed;

            width: 100vw;
            height: 100vh;
        }
    }

    &.fade-in {
        &:before {
            @include vendor("pointer-events", "none");
            @include vendor("transition", "opacity 1s ease-in-out");
            @include vendor("transition-delay", "0.75s");

            position: fixed;
            top: 0;
            left: 0;

            display: block;
            width: 100%;
            height: 100%;

            content: "";

            opacity: 0;
            background: _palette(invert, bg);
        }

        body.is-loading & {
            &:before {
                opacity: 1;
            }
        }
    }
}
