<!DOCTYPE html>
<!--
  Massively by HTML5 UP
  html5up.net | @ajlkn
  Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
-->
<html lang="de-DE">
  <head>
    <%- include('../partials/head') %>
  </head>
  <body class="is-loading">
      <div id="wrapper">
        <%- include('../partials/nav') %>
        <!-- Main -->
        <div id="main">
          <%- body %>
        </div>
        <%- include('../partials/footer') %>
      </div>
    <%- include('../partials/footer-scripts') %>
  </body>
</html>
