<!--
  Massively by HTML5 UP
  html5up.net | @ajlkn
  Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
-->
<html lang="de-DE">
  <head>
    <%- include('../partials/head') %>
  </head>
  <body class="is-loading">
      <div id="wrapper">

        <!-- Intro -->
        <div id="intro">
          <h1>This is<br />
          Massively</h1>
          <p>A free, fully responsive HTML5 + CSS3 site template designed by <a href="https://twitter.com/ajlkn">@ajlkn</a> for <a href="https://html5up.net">HTML5 UP</a><br />
          and released for free under the <a href="https://html5up.net/license">Creative Commons license</a>.</p>
          <ul class="actions">
            <li><a href="#header" class="button icon solo fa-arrow-down scrolly">Continue</a></li>
          </ul>
        </div>

        <%- include('../partials/nav') %>
        <!-- Main -->
        <div id="main">
          <%- body %>
        </div>
        <%- include('../partials/footer') %>
      </div>
    <%- include('../partials/footer-scripts') %>
  </body>
</html>
